<!DOCTYPE html>
<html>
<head>
 <script src="<?php echo base_url('Public/js/jquery.js')?>"></script>
	<title>jQuery事件绑定和事件命名空间</title>
<style type="text/css">

</style>
<body>
jQuery事件绑定和事件命名空间<br>
绑定(bind,on)<br>
解除绑定(unbind,off)<br>
one()----绑定事件执行一次自动销毁<br>
<p id='p1'>测试绑定单击，先定函数再绑定</p>
<p id='p2'>测试绑定单击，函数绑定写在一个表达示中</p>
<script type="text/javascript">
var f1 = function(){
  alert($(this).text());
}
//先定函数再绑定,可用bind也可用on,加上后面一个false后事件不执行，不能为true
$('#p1').bind('click',f1,false)
$('#p1').on('click',f1,false)


//函数绑定写在一个表达示中
$('#p2').on('click',function(){
  alert($(this).text()+'222222222');
},false)

//通常用的绑定
$('#p2').click(function(event) {
alert($(this).text()+'333333333');
});

//移除绑定，可用unbind或off
$('#p2').off('click');

//如果使用one(),事件执行一次后自动销毁
$('#p2').one('click',f1);



</script>


JS中的命名空间。
<br>
<p id='nspace'>命名空间样式测试，加多个click事件，给添加上命名空间，然后onbind才能移除相应的事件
</p>
<script type="text/javascript">
//命名空间使用示例
$('#nspace').on('click.bg',function(){
  $(this).css('background','yellow');
})

$('#nspace').on('click.cl',function(){
  $(this).css('color','blue');
})

$('#nspace').on('click.bgg',function(){
  $(this).css('background','green');
})

// $('#nspace').off('click.bgg');

</script>

</body>
</html>
