<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>消息提示页</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--使用meta的刷新功能， $wait变量为等待时间，$url为跳转目标地址，$message为错误提示的信息 -->
<meta http-equiv="Refresh" content ="<?php echo $wait;?> ;url=<?php echo $url;?>"/>
<link href="<?php echo base_url('Public/styles/general.css');?>" rel="stylesheet" type="text/css" />
    <link href="<?php echo base_url('Public/styles/main.css');?>" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>

<div style="clear:both; height: 80px;  text-align:center; ">消息提示页：</div>
</h1>


<div id="footer">
   <img src="<?php echo base_url('Public/images/warning.gif');?>" width="32" height="32" border="0"  />
   <div style="font-size: 14px; font-weight: bold; color: gray">提示信息：</div>
   <div style="font-size: 14px; font-weight: bold; color: red"><?php echo $message;?></div>
   <?php echo $wait;?> 秒之后跳回到登录页！

</div>

<div id="footer">
	版权所有  
</div>
</div>

</body>
</html>