<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Bootstrap学习笔记</title>
</head>
<body>



<div>

<p><a href="<?php echo site_url('/admin/btstrap/bt1'); ?>"><1>btstrap基础,引入方法,全局样式</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt2'); ?>"><2>Glyphicons 字体图标,Bootstrap组件--按钮</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt3'); ?>"><3>下拉菜单、按钮组</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt4'); ?>"><4>输入框组</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt5'); ?>"><5>表单控件</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt6'); ?>"><6>导航及标签页</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt7'); ?>"><7>上下布局示例</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt8'); ?>"><8>左右布局示例</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt9'); ?>"><9>Bootstrap点击弹出窗口</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt10'); ?>"><10>Jquery折叠面板</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt11'); ?>"><11>JS折叠面板</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt12'); ?>"><12></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt13'); ?>"><13></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt14'); ?>"><14></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt15'); ?>"><15></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt16'); ?>"><16></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt17'); ?>"><17></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt18'); ?>"><18></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt19'); ?>"><19></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt20'); ?>"><20></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt21'); ?>"><21>xxxxxx</a></p>
<p><a href="<?php echo site_url('/admin/btstrap/bt22'); ?>"><22>xxxxxx</a></p>
</div>
</body>
</html>
