<!DOCTYPE html>
<html>
<head>	
	<meta charset="UTF-8">
	<title>小程序列表</title>
</head>
<body>

<p>小程序列表</p>

<div>
<p><a href="<?php echo site_url('/admin/progs/Godaddy'); ?>"><h2>Godaddy域名主机设置说明</h2></a></p>
<p><a href="<?php echo site_url('/admin/progs/keycode'); ?>"><h2>键盘按钮keyCode大全</h2></a></p>
<p><a href="<?php echo site_url('/admin/progs/webcolor'); ?>"><h2>网页颜色中英文名称及对应RGB编码</h2></a></p>
<p><a href="<?php echo site_url('/admin/progs/qrcode'); ?>"><h2>PHP QR 二维码生成</h2></a></p>
<p><a href="<?php echo site_url('/admin/progs/info'); ?>"><h3>企业信息化思维导图网摘</h3></a></p>
<p><a href="<?php echo site_url('/admin/progs/mech'); ?>"><h3>＠＠＠塑料 & 机械及 & 模具相关＠＠＠</h3></a></p>
<p><a href="<?php echo site_url('/admin/progs/trading'); ?>"><h3>外贸相关摘录</h3></a></p>
<p><a href="<?php echo site_url('/admin/progs/converter'); ?>">计算器</a></p>
<p><a href="<?php echo site_url('/admin/progs/converter2'); ?>">计算器2.0</a></p>
<p><a href="<?php echo site_url('/admin/progs/webspider'); ?>">网页内容抓取</a></p>
<p><a href="<?php echo site_url('/admin/phpspider'); ?>">PHP网页爬虫</a></p>
<p><a href="<?php echo site_url('/admin/progs/copyname'); ?>">文件名批量复制-测试用</a></p>
<p><a href="<?php echo site_url('/admin/progs/namemodifier');  ?>">批量修改文件名</a></p>
<p><a href="<?php echo site_url('/admin/progs/filecreator');  ?>">批量创建文件</a></p>
<p><a href="<?php echo site_url('/admin/progs/mailsender'); ?>">邮件发送器</a></p>
<p><a href="<?php echo site_url('/admin/progs/insertdatas');  ?>">向数据表中批量插入序列数据，用于测试</a></p>
<p><a href="<?php echo site_url('/admin/Javascriptex/'); ?>">Javascript学习笔记====></a></p>
<p><a href="<?php echo site_url('/admin/btstrap/'); ?>">Bootstrap学习笔记====></a></p>
<p><a href="<?php echo site_url('/admin/vue/'); ?>">Vue2.0学习笔记====></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/'); ?>">PHP学习笔记====></a></p>
<p><a href="<?php echo site_url('/admin/progs/clientlist'); ?>">客户清单</a></p>
<p><a href="<?php echo site_url('/admin/progs/clientreg'); ?>">客户录入</a></p>
<p><a href="<?php echo site_url('/admin/category/');  ?>">无限分类--CI-多数据库操作</a></p>
<p><a href="<?php echo site_url('/admin/upload/');  ?>">CI上传</a></p>
<p><a href="<?php echo site_url('/admin/Javascriptex/ajax'); ?>">AJAX</a></p>
<p><a href="<?php echo site_url('/admin/progs/colorpicker'); ?>">colorpicker</a></p>
<p><a href="<?php echo site_url('/admin/progs/clipboard'); ?>">JS复制内容到剪贴板</a></p>
<p><a href="<?php echo site_url('/admin/progs/pgenerator'); ?>">PHP生成器</a></p>
<p><a href="<?php echo site_url('/admin/erp/'); ?>">ERP相关信息收集========></a></p>
<p><a href="<?php echo site_url('/admin/progs/wordscounter'); ?>">字符数统计</a></p>
<p><a href="<?php echo site_url('/admin/progs/monitor'); ?>">监控安装</a></p>
<p><a href="<?php echo site_url('/admin/progs/vphone'); ?>">Voip网络电话</a></p>
<p><a href="<?php echo site_url('/admin/progs/dbs'); ?>">数据库相关知识</a></p>
<p><a href="<?php echo site_url('/admin/progs/css'); ?>">Html&CSS基础</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
</div>
</body>
</html>
