<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Javascript练习</title>
</head>
<body>



<div>

<p><a href="<?php echo site_url('/admin/javascriptex/jsstring'); ?>"><h3>Javascrip字符串操作示例</h3></p>
<p><a href="<?php echo site_url('/admin/javascriptex/jszz'); ?>"><h3>Javascript的正则表达示</h3></p>
<p><a href="<?php echo site_url('/admin/javascriptex/promise'); ?>"><h3>Javascript的Promise用法</h3></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js1'); ?>"><1>Javascript基础1</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js2'); ?>"><2>Javascript基础2</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js3'); ?>"><3>jQuery事件及全选反选</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js4'); ?>"><4>jQuery 隔行换色</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js5'); ?>"><5>jQuery Tab标签--li选项卡控制内容 div显示</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js6'); ?>"><6>jQuery操作DOM节点（创建，插入，删除）</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js7'); ?>"><7>jQuery操作样式</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js8'); ?>"><8>jQuery鼠标/键盘事件</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js9'); ?>"><9>jQuery键盘事件获取键值</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js10'); ?>"><10>jQuery表单事件——&浏览器事件</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js11'); ?>"><11>jQuery事件对象</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js12'); ?>"><12>jQuery事件绑定和事件命名空间</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js13'); ?>"><13>jQuery文本选取触发事件</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js14'); ?>"><14>鼠标框选</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js15'); ?>"><15>jQuery动画show(),hide(),toggle</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js16'); ?>"><16>jquery表单操作,全选反选等</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js17'); ?>"><17>jquery页面搜索实例</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js18'); ?>"><18>jquery-AJAX</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js19'); ?>"><19>jquery-AJAX用户验证</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js20'); ?>"><20>jquery-插件编写测试</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js21'); ?>"><21>双击修改表格单元格内容</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js22'); ?>"><22>倒计时</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js23'); ?>"><23>jquery函数创建表格</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js24'); ?>"><24>JS鼠标事件</a></p>
<p><a href="<?php echo site_url('/admin/javascriptex/js25'); ?>"><24>打字练习，打字游戏</a></p>
</div>
</body>
</html>
