<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>模塑机械工程相关知识</title>
</head>
<body>

<div>

<p><a href="<?php echo site_url('/admin/mech/pcr'); ?>">塑胶耐化性能表</a></p>
<p><a href="<?php echo site_url('/admin/mech/m1'); ?>"><1>螺纹G1/8公差</a></p>
<p><a href="<?php echo site_url('/admin/mech/m2'); ?>"><2>双色注塑设计要点及材料结合性</a></p>
<p><a href="<?php echo site_url('/admin/mech/m3'); ?>"><3>英制直径换算表</a></p>
<p><a href="<?php echo site_url('/admin/mech/m4'); ?>"><4>铝挤出散热器变形问题</a></p>
<p><a href="<?php echo site_url('/admin/mech/m5'); ?>"><5>塑料原料属性及颜色代码</a></p>
<p><a href="<?php echo site_url('/admin/mech/m6'); ?>"><6>模具钢材，龙记钢材</a></p>
<p><a href="<?php echo site_url('/admin/mech/m7'); ?>"><7>金属表面处理</a></p>
<p><a href="<?php echo site_url('/admin/mech/m8'); ?>"><8>English terms and related links</a></p>
<p><a href="<?php echo site_url('/admin/mech/m9'); ?>"><9>模具晒纹参考</a></p>
<p><a href="<?php echo site_url('/admin/mech/m10'); ?>"><10>首板，复模加工，复模材料</a></p>
<p><a href="<?php echo site_url('/admin/mech/m11'); ?>"><11>螺丝类型，螺丝头型</a></p>
<p><a href="<?php echo site_url('/admin/mech/m12'); ?>"><12>塑胶原料物性对照链接</a></p>
<p><a href="<?php echo site_url('/admin/mech/m13'); ?>"><13>常用塑料收缩率大全</a></p>
<p><a href="<?php echo site_url('/admin/mech/m14'); ?>"><14>机械专业英语图解教程-Mechanical english</a></p>
<p><a href="<?php echo site_url('/admin/mech/m15'); ?>"><15>机械专业英语图解教程</a></p>
<p><a href="<?php echo site_url('/admin/mech/m16'); ?>"><16>金属材料物性(铝，锌，不锈钢★)</a></p>
<p><a href="<?php echo site_url('/admin/mech/m17'); ?>"><17>机械及模具</a></p>
<p><a href="<?php echo site_url('/admin/mech/m18'); ?>"><18>机械及模具</a></p>
<p><a href="<?php echo site_url('/admin/mech/m19'); ?>"><19>机械及模具</a></p>
<p><a href="<?php echo site_url('/admin/mech/m20'); ?>"><20>机械及模具</a></p>
<p><a href="<?php echo site_url('/admin/mech/m21'); ?>"><21>机械及模具</a></p>
<p><a href="<?php echo site_url('/admin/mech/m22'); ?>"><22>机械及模具</a></p>
</div>
</body>
</html>
