<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>PHP学习笔记</title>
</head>
<body>



<div>


<a href="<?php echo site_url('/admin/phpnote/func'); ?>">******PHP函数大全</a></p>
<1><a href="<?php echo site_url('/admin/phpnote/simple_mvc'); ?>">PHP实现简单的MVC框架</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/pgenerator'); ?>"><2>生成器及回调函数</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/pautoload'); ?>"><3>自动加载类SPL函数</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/parameters'); ?>"><4>函数参数的处理</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/imgcapture'); ?>"><5>PHP网页图片抓取</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/urlparse'); ?>"><6>URL地址栏参数解析</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/preg'); ?>"><7>preg正则表达示，正则匹配</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/str'); ?>"><8>字符串处理</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v9'); ?>"><9></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v10'); ?>"><10></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v11'); ?>"><11></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v12'); ?>"><12></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v13'); ?>"><13></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v14'); ?>"><14></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v15'); ?>"><15></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v16'); ?>"><16></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v17'); ?>"><17></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v18'); ?>"><18></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v19'); ?>"><19></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v20'); ?>"><20></a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v21'); ?>"><21>xxxxxx</a></p>
<p><a href="<?php echo site_url('/admin/phpnote/v22'); ?>"><22>xxxxxx</a></p>
</div>
</body>
</html>
