<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>外贸相关知识</title>
</head>
<body>

<div>

<p><a href="<?php echo site_url('/admin/trading/t1'); ?>"><1>常见的收付款方式</a></p>
<p><a href="<?php echo site_url('/admin/trading/t2'); ?>"><2>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t3'); ?>"><3>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t4'); ?>"><4>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t5'); ?>"><5>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t6'); ?>"><6>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t7'); ?>"><7>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t8'); ?>"><8>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t9'); ?>"><9>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t10'); ?>"><10>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t11'); ?>"><11>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t12'); ?>"><12>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t13'); ?>"><13>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t14'); ?>"><14>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t15'); ?>"><15>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t16'); ?>"><16>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t17'); ?>"><17>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t18'); ?>"><18>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t19'); ?>"><19>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t20'); ?>"><20>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t21'); ?>"><21>外贸相关主题</a></p>
<p><a href="<?php echo site_url('/admin/trading/t22'); ?>"><22>外贸相关主题</a></p>
</div>
</body>
</html>
