<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>vue2.0学习练习</title>
</head>
<body>



<div>

<p><a href="<?php echo site_url('/admin/vue/v1'); ?>"><1>vue基础及8大指令</a></p>
<p><a href="<?php echo site_url('/admin/vue/v2'); ?>"><2>Vue.directive 自定义指令</a></p>
<p><a href="<?php echo site_url('/admin/vue/v3'); ?>"><3>Vue2.0选项</a></p>
<p><a href="<?php echo site_url('/admin/vue/v4'); ?>"><4>Vue2.0实例和内置组件</a></p>
<p><a href="<?php echo site_url('/admin/vue/v5'); ?>"><5></a></p>
<p><a href="<?php echo site_url('/admin/vue/v6'); ?>"><6></a></p>
<p><a href="<?php echo site_url('/admin/vue/v7'); ?>"><7></a></p>
<p><a href="<?php echo site_url('/admin/vue/v8'); ?>"><8></a></p>
<p><a href="<?php echo site_url('/admin/vue/v9'); ?>"><9></a></p>
<p><a href="<?php echo site_url('/admin/vue/v10'); ?>"><10></a></p>
<p><a href="<?php echo site_url('/admin/vue/v11'); ?>"><11></a></p>
<p><a href="<?php echo site_url('/admin/vue/v12'); ?>"><12></a></p>
<p><a href="<?php echo site_url('/admin/vue/v13'); ?>"><13></a></p>
<p><a href="<?php echo site_url('/admin/vue/v14'); ?>"><14></a></p>

</div>
</body>
</html>
