<!DOCTYPE html>
<html>
<head>
	<title>SAP ERP常用T-CODE </title>
</head>
<body>

<p>SAP ERP常用T-CODE </p>

<div>
<p style="margin:10px auto"><span style="color:rgb(128,128,0)"><strong>与客户相关&nbsp;&nbsp;</strong></span><br>
VD01 建立客户 Create customer<br>
VD02 更改客户 Change customer<br>
VD03 显示客户 Display customer<br>
VK11 创建条件 Create Condition<br>
VK12 修改条件 Change Condition<br>
VK13 显示条件 Display Condition<br>
VA21 创建报价 Create Quotation<br>
VA22 更改报价 Change Quotation<br>
VA23 显示报价 Display Quotation<br>
VA01 创建销售订单 Create Sales Order<br>
VA02 修改销售订单 Change Sales Order<br>
VA03 显示销售订单 Display Sales Order<br>
VA05 销售订单清单 List of Sales Orders<br>
<strong>发货单维护和查询</strong><br>
VL01N 创建交货 Create Delivery<br>
VL02N 更改交货 Change Delivery<br>
VL03N 显示交货 Display Delivery<br>
VL06O 查询销售订单 Query Sales Order<br>
VLSP 拆分发货单 Split Sales Order<br>
VL22 拆分发货单 Split Delivery<br>
VL09 取消发货过账 Cancel Goods Issue for Delivery Note<br>
VL10D STO发货单创建 Extended Mult. Processing Deliveries<br>
VKM5 对因信用控制冻结的发货单解冻 Block&nbsp; Delivery<br>
<strong>运单维护</strong><br>
VT01N 创建发运 Create shipment<br>
VT02N 更改发运 Change shipment<br>
VT03N 显示发运 Display shipment<br>
MB5T 显示在途库存 Stock view<br>
<strong>发票创建&nbsp;&nbsp;</strong><br>
VF01 创建出具发票凭证 Create Billing Document<br>
VF02 更改出具发票凭证 Change Billing Document<br>
VF03 显示出具发票凭证 Display Billing Document<br>
VF04 处理出具发票到期清单 Process Billing Due List<br>
VF11 取消出具发票凭证 Cancel Billing Document</p>
<p style="margin:10px auto">&nbsp;</p>
<p style="margin:10px auto"><strong>SAP MM(物料管理)常用事务代码T-Code</strong></p>
<p style="margin:10px auto">MM01 - 创建物料主数据<br>
XK01 - 创建供应商主数据<br>
ME11 - 创建采购信息记录<br>
ME01 - 维护货源清单<br>
ME51N- 创建采购申请<br>
ME5A - 显示采购申请清单<br>
ME55 - 批准采购申请（批准组：YH）<br>
ME57 – 分配并处理采购申请<br>
MB21 - 预留&nbsp;<br>
MB24 - 显示预留清单<br>
ME21N- 创建采购订单<br>
ME28 - 批准采购订单（批准组：YS）<br>
ME9F - 采购订单发送确认<br>
ME2L - 查询供应商的采购凭证<br>
ME31 - 创建采购协议<br>
MD03 - 手动MRP<br>
MD04 - 库存需求清单（MD05 - MRP清单）<br>
MRKO - 寄售结算<br>
MELB - 采购申请列表（需求跟踪号）<br>
ME41 - 创建询价单<br>
ME47 - 维护报价<br>
ME49 - 价&#26684;比较清单<br>
MI31 - 建立库存盘点凭证<br>
MI21 - 打印盘点凭证<br>
MI22 - 显示实际盘点凭证内容<br>
MI24 - 显示实际盘点凭证清单<br>
MI03 - 显示实际盘点清单<br>
MI04 - 根据盘点凭证输入库存计数<br>
MI20 - 库存差异清单<br>
MI07 - 库存差额总览记帐<br>
MI02 - 更改盘点凭证<br>
MB03 - 显示物料凭证<br>
ME2O - 查询供应商货源库存<br>
MB03 - 显示物料凭证<br>
MMBE - 库存总览<br>
MB5L - 查询库存价&#20540;余额清单<br>
MCBR - 库存批次分析<br>
MB5B - 查询每一天的库存<br>
MB58 - 查询客户代保管库存<br>
MB25 - 查询预留和发货情况MB51<br>
MB5S - 查询采购订单的收货和发票差异<br>
MB51 - 物料凭证查询（可以按移动类型查询）<br>
ME2L - 确认采购单/转储单正确<br>
MCSJ - 信息结构S911 采购信息查询（采购数量价&#20540;、收货数量价&#20540;、发票数量价&#20540;）<br>
MCBA - 核对库存数量,金额<br>
MM04 - 显示物料改变<br>
MMSC - 集中创建库存地点<br>
MIGO_GR根据单据收货:<br>
MB1C - 其它收货<br>
MB1A - 输入发货&nbsp;<br>
MB1B - 转储<br>
MB31 - 生产收货&nbsp;<br>
MB01 - 采购收货)<br>
MBST - 取消物料凭证<br>
MM60 - 商品清单<br>
ME31L- 创建计划协议<br>
ME38 - 维护交货计划<br>
ME9A - 消息输出<br>
MB04 - 分包合同事后调整<br>
MB52 - 显示现有的仓库物料库存<br>
MB90 - 来自货物移动的输出<br>
CO03 - 显示生产订单<br>
IW13 - 物料反查订单（清单）<br>
IW33 - 显示维修订单<br>
VA01 -创建销售订单<br>
VL01N - 参照销售订单创建外向交货单<br>
VL02N – 修改外向交货单（拣配、发货过帐）<br>
VL09 – 冲销销售的货物移动<br>
VF01 – 出具销售发票<br>
VF04 – 处理出具发票到期清单<br>
VF11 – 取消出具销售发票&nbsp;<br>
<strong>MVT for MIGO_GR</strong><br>
101 : 一步收货<br>
103＋105 : 两步收货</p>
<p style="margin:10px auto"><strong>MVT for MB1A</strong><br>
201 : 发料到成本中心<br>
241 : 从仓库发货到资产（在建工程）<br>
261 : 发货到内部订单<br>
551 : 为报废提取<br>
555 : 自冻结库报废<br>
601 : 销售发货<br>
653 : 销售退货<br>
Z41 : 维修工单发货</p>
<p style="margin:10px auto"><strong>MVT for MB1B</strong><br>
344 : 欲报废物资先移库到冻结库存<br>
411K: 从代销到本公司的转帐<br>
541 : 从非限制库存到分包商库存的转储记帐（委托加工）<br>
555 : 自冻结库报废</p>
<p style="margin:10px auto"><strong>MTV for MI07（盘点记帐）</strong><br>
701 : 实际盘点－盘盈<br>
702 : 实际盘点－盘亏</p>
<p style="margin:10px auto">&nbsp;</p>
<div class="Section0" style="margin:0px">
<p class="p0" style="margin:10px auto">SAP&nbsp;FI&nbsp;T-CODE&nbsp;&nbsp;&nbsp;</p>
<p class="p0" style="margin:10px auto">FI<br>
主数据：<br>
FS00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">编辑总帐科目</span><br>
FS01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建主记录</span><br>
FS02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改主记录</span><br>
FS03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示主记录</span><br>
FS04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">总帐科目更改</span><span style="font-family:Arial">(</span><span style="font-family:宋体">集中地</span><span style="font-family:Arial">)</span><br>
FS05&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">冻结主记录</span><br>
FSP1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建会计科目表中的主记录</span><br>
FSP2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改会计科目表中的主记录</span><br>
FSP3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示会计科目表的主记录</span><br>
FSP4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">会计科目表中的总帐科目变化</span><br>
FSP5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">冻结会计科目表中主记录</span><br>
FSS1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建公司代码中的主记录</span><br>
FSS2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改公司代码中的主记录</span><br>
FSS3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示公司代码中的主记录</span><br>
FSS4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">公司代码中的总帐科目修改</span><br>
FK01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建供应商主数据</span><br>
FK02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改供应商</span><br>
FK03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示供应商</span><br>
FK04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">供应商变化</span><br>
FK05&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">冻结集团</span><br>
FD01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建客户主数据</span><span style="font-family:Arial">&nbsp;&nbsp;</span><span style="font-family:宋体">（</span><span style="font-family:Arial">XD01&nbsp;</span><span style="font-family:宋体">创建客户）</span><br>
FD02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改客户</span><br>
FD03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示客户</span><br>
FD04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户变化</span><br>
FD05&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">冻结客户</span><br>
AS01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建资产主数据</span><br>
AS02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">改变资产主记录</span><br>
AS03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示资产主记录</span><br>
AS04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">资产改变</span><br>
AS05&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">冻结资产主记录</span><br>
FI01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建银行</span><br>
FI02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改银行</span><br>
FI03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示银行</span><br>
FI04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示银行变化</span><br>
***************************************************************<br>
打开和关闭记帐期间：<br>
OB52&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">（</span><span style="font-family:Arial">F.60</span><span style="font-family:宋体">）</span><br>
***************************************************************<br>
余额查询：<br>
FS10N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">查看总帐科目余额&nbsp;（</span><span style="font-family:Arial">FAGLB03&nbsp;&nbsp;</span><span style="font-family:宋体">总帐科目余额显示）</span><br>
FD10N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">查看客户科目余额</span><br>
FK10N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">查看供应商科目余额</span><br>
***************************************************************<br>
预制凭证：<br>
F-01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">样本凭证</span><br>
FV50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">预制凭证</span><br>
FBV0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">预制凭证过帐</span><br>
***************************************************************<br>
凭证：<br>
FB01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">创建</span><br>
FB02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改</span><br>
FB03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示</span><br>
FB04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示修改&nbsp;</span><br>
FB08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">冲销&nbsp;</span><br>
FB09&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">更改行项目</span><br>
F.80&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">批量冲销</span><span style="font-family:Arial">&nbsp;&nbsp;</span><br>
***************************************************************<br>
发票：<br>
FB50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">输入总帐科目凭证</span><br>
FB60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">输入供应商发票</span><br>
FB70&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">输入客户发票</span><br>
***************************************************************<br>
预付款及清帐：<br>
F-48&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">供应商预收</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F-54&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:宋体">清帐</span><br>
F-29&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户预付</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F-39&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-family:宋体">清帐</span><br>
***************************************************************<br>
付款：<br>
F-53&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">供应商付款</span><br>
F-28&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户收款</span><br>
***************************************************************<br>
汇票支付：<br>
F-40&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">供应商付款</span><br>
F-36&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户收款</span><br>
***************************************************************<br>
清帐：<br>
F-03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">总账账户清帐</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
F-44&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">供应商清帐</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
F-32&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户帐户清帐</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
***************************************************************<br>
贷项凭证：<br>
FB65&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">供应商贷项凭证</span><br>
FB75&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户贷项凭证</span><br>
***************************************************************<br>
未清项：<span style="font-family:Arial">&nbsp;&nbsp;&nbsp;&nbsp;</span><br>
FBL1N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">供应商行项目显示&nbsp;</span><br>
FBL3N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示帐户行项目</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;</span><br>
FBL5N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户行项目显示</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;</span><br>
***************************************************************<br>
F-51&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">背书</span><br>
F-32&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">应收票据清帐</span><br>
***************************************************************<br>
F-43&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">员工借款</span><br>
FB60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">员工报销</span><br>
F-44&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">报销及借支清帐</span><br>
***************************************************************<br>
F.07&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">客户</span><span style="font-family:Arial">/</span><span style="font-family:宋体">供应商余额结转</span><br>
***************************************************************<br>
外币评估：<br>
F.05&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">旧总帐</span><br>
FAGL_FC_VAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">新总帐</span><br>
***************************************************************<br>
F-04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">过帐并清帐（收款）</span><span style="font-family:Arial">&nbsp;&nbsp;&nbsp;F-30</span><span style="font-family:宋体">（转帐并清帐）</span><br>
***************************************************************<br>
FSE3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">显示财务报表版本</span><br>
***************************************************************<br>
0KE5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">利润中心标准层次设置</span><br>
OKKP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">成本中心标准层次设置</span><br>
***************************************************************<br>
年结：<br>
F.16&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">总帐余额结转&nbsp;</span><span style="font-family:Arial">FAGLGVTR(</span><span style="font-family:宋体">总帐余额结转</span><span style="font-family:Arial">)&nbsp;</span><br>
F.07&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">应收应付余额结转</span><br>
AJAB&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">固定资产年结</span><br>
AJRW&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">会计年度更改（固定资产）</span><br>
2KES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">利润中心余额结转</span><br>
***************************************************************<br>
其他：<br>
F.10&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">会计科目表</span><br>
F110&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">自动付款</span><br>
S_ALR_87012301&nbsp;&nbsp;<span style="font-family:宋体">按层次查看科目累计余额</span><br>
S_ALR_87012284&nbsp;&nbsp;<span style="font-family:宋体">查看中国会计科目的资产负债和损益表&nbsp;</span><span style="font-family:Arial">F.01</span><br>
S_ALR_87011964&nbsp;&nbsp;<span style="font-family:宋体">资产余额查询</span><br>
SM35&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-family:宋体">批输入执行</span><br>
***************************************************************<br>
后台：<br>
资产：<span style="font-family:Arial">ORFA</span><br>
General&nbsp;Ledger<br>
F-01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sample&nbsp;Document&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
F-02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General&nbsp;Posting<br>
F-04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Document&nbsp;Post&nbsp;with&nbsp;Clearing<br>
F-06&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incoming&nbsp;Payments<br>
F-07&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Outgoing&nbsp;Payments<br>
F-65&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;General&nbsp;Document&nbsp;Parking<br>
FB02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Document<br>
FB03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display<br>
FB04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Changes&nbsp;to&nbsp;Document<br>
FB08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reverse&nbsp;Document<br>
FB09&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Document&nbsp;Line&nbsp;Items<br>
FB09&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Line&nbsp;Items<br>
FB50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;GL&nbsp;Account&nbsp;Document<br>
FBD1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;Recurring&nbsp;Document<br>
FBD2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Recurring&nbsp;Document<br>
FBL3N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Line&nbsp;Items<br>
FBRA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reset&nbsp;Cleared&nbsp;Items<br>
FBV0&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;/&nbsp;Delete&nbsp;Parked&nbsp;Documents<br>
FBV2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Parked&nbsp;Documents<br>
FS00&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;GL&nbsp;account<br>
FS10N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Account&nbsp;Balances<br>
FV50&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;or&nbsp;Park&nbsp;GL&nbsp;Document<br>
Asset&nbsp;Accounting<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
AB02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Asset&nbsp;Document<br>
AB03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Asset&nbsp;Document<br>
ABAON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asset&nbsp;Sale&nbsp;without&nbsp;Customer<br>
ABAVN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asset&nbsp;Retirement&nbsp;by&nbsp;Scrapping<br>
ABNAN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;Capitalization<br>
ABUMN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asset&nbsp;Transfer&nbsp;within&nbsp;Company&nbsp;Code<br>
AS01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create&nbsp;Asset<br>
AS02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Asset&nbsp;Master<br>
AS03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Asset<br>
AS05&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Lock&nbsp;Asset&nbsp;Master&nbsp;for&nbsp;Acquisitions<br>
AS06&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Delete&nbsp;Asset&nbsp;Master&nbsp;record<br>
AS11&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create&nbsp;Asset&nbsp;with&nbsp;Sub-Number<br>
AW01N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asset&nbsp;Explorer<br>
F-90&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;With&nbsp;vendor<br>
ABZON&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Acquisition&nbsp;with&nbsp;automatic&nbsp;of&nbsp;setting&nbsp;entry<br>
<br>
<strong>Accounts&nbsp;Receivable</strong><br>
F.17&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Balance&nbsp;Confirmation<br>
F.27&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;Periodic&nbsp;Account&nbsp;Statements<br>
F110&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incoming&nbsp;Payment&nbsp;Run&nbsp;(ICC)<br>
F150&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dunning<br>
F-21&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internal&nbsp;Transfer&nbsp;Posting&nbsp;without&nbsp;Clearing<br>
F-28&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Incoming&nbsp;Payment<br>
F-30&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internal&nbsp;Transfer&nbsp;Posting&nbsp;with&nbsp;Clearing<br>
F-36&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bill&nbsp;of&nbsp;Exchange&nbsp;Payment<br>
F-29&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Down&nbsp;Payment<br>
F-39&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Down&nbsp;Payment&nbsp;Clearing<br>
FB02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Document<br>
FB09&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Line&nbsp;Items<br>
FB70&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;FI&nbsp;Invoice<br>
FB75&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;FI&nbsp;Credit&nbsp;Memo<br>
FBL5N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Customer&nbsp;Line&nbsp;items<br>
FBW1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Bill&nbsp;of&nbsp;Exchange&nbsp;Request<br>
FD03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Customer&nbsp;Master&nbsp;Record&nbsp;(Finance)<br>
FD10N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Customer&nbsp;Balances<br>
VD03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Customer&nbsp;Master&nbsp;Record&nbsp;(Sales)<br>
<br>
<strong>Accounts&nbsp;Payable</strong><br>
FK03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Vendor&nbsp;Master&nbsp;Record&nbsp;(Finance)<br>
MK03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Vendor&nbsp;Master&nbsp;Record&nbsp;(Purchasing)<br>
FB60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Vendor&nbsp;Invoice&nbsp;(FI)<br>
FB65&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Vendor&nbsp;Credit&nbsp;Memo&nbsp;(FI)<br>
FV60&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Park&nbsp;/&nbsp;Edit&nbsp;Vendor&nbsp;Invoice&nbsp;(FI)<br>
FV65&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Park&nbsp;/&nbsp;Edit&nbsp;Vendor&nbsp;Credit&nbsp;Memo&nbsp;(FI)<br>
F-53&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;Outgoing&nbsp;Payment<br>
F-47&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Vendor&nbsp;Down&nbsp;Payment&nbsp;Request<br>
F-48&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Vendor&nbsp;Down&nbsp;Payment<br>
F-54&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Clearing&nbsp;Vendor&nbsp;Down&nbsp;Payment<br>
F-40&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Payment&nbsp;of&nbsp;Vendor&nbsp;Bill&nbsp;of&nbsp;exchange<br>
FB02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Document<br>
FB04&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Changes&nbsp;to&nbsp;Document<br>
FB08&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reverse&nbsp;Individual&nbsp;Document<br>
FB09&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Document&nbsp;Line&nbsp;Items<br>
FK10N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Vendor&nbsp;Balances<br>
FBL1N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Vendor&nbsp;Line&nbsp;Items<br>
F.27&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;Periodic&nbsp;Account&nbsp;Statements<br>
F.18&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Balance&nbsp;Confirmation<br>
F110&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Automatic&nbsp;Payment&nbsp;Run<br>
<strong>Logistics&nbsp;Invoice&nbsp;Verification</strong><br>
MIRO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Invoice<br>
MIR4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Invoice<br>
MIR7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Park&nbsp;Invoice<br>
MR8M&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cancel&nbsp;Invoice<br>
MIR6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invoice&nbsp;Overview<br>
MRBR&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Release&nbsp;Blocked&nbsp;Invoices<br>
<strong>Cash&nbsp;and&nbsp;Banking</strong><br>
FI01&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create&nbsp;Bank&nbsp;Master&nbsp;Record<br>
FI02&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Change&nbsp;Bank&nbsp;Master&nbsp;Record<br>
FI03&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Bank&nbsp;Master&nbsp;Record<br>
FBCJ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Enter&nbsp;Cash&nbsp;Journal<br>
FF67&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bank&nbsp;Statement&nbsp;Manual&nbsp;Entry<br>
FF_5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Import&nbsp;Electronic&nbsp;Bank&nbsp;Statement&nbsp;(3rd&nbsp;party&nbsp;bank)<br>
FEBP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;Bank&nbsp;Statement<br>
FF_6&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Bank&nbsp;Statement<br>
FEBA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;Process&nbsp;Bank&nbsp;Statement&nbsp;/&nbsp;Cheque&nbsp;Deposit&nbsp;List<br>
FCHI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Maintain&nbsp;Check&nbsp;Lots&nbsp;and&nbsp;Check&nbsp;Numbers<br>
FCH5&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create&nbsp;Manual&nbsp;Checks<br>
FCHN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Display&nbsp;Check&nbsp;Register<br>
FEBC&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Convert&nbsp;Bank&nbsp;Statement<br>
FF68&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Check&nbsp;Deposit&nbsp;Manual&nbsp;Entry<br>
FEBA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post&nbsp;Process&nbsp;Check&nbsp;Deposits<br>
FCH7&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reprint&nbsp;Check<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
S_ALR_87012309&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Print&nbsp;Cash&nbsp;Journal</p>
</div>
</body>
</html>
