<!DOCTYPE html>
<html>
<head>
	<title>ERP相关信息收集</title>
</head>
<body>

<p>ERP相关信息收集</p>

<div>

<p><a href="<?php echo site_url('/admin/erp/fun1'); ?>">SAP ERP常用T-Code</a></p>
<p><a href="<?php echo ('http://127.0.0.1/cap/index.php/login'); ?>">PHP CI框架 ERP进销存系统</a></p>
<p><a href="<?php  ?>">xxxxxx广东省深圳市宝安区松山湖</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
<p><a href="<?php  ?>">xxxxxx</a></p>
</div>
</body>
</html>
