<!DOCTYPE html>
<html>
<head>
	<title>外贸接录----关于付款</title>
</head>

<style type="text/css">
     p{
          text-align: left;
     }
     .itemhead{
          color:red;
          font-size: 22px;
     }

</style>
<body>

<div>

<p><a href="http://bbs.fobshanghai.com/thread-6066741-1-1.html">link</a></p>
<div style="text-align: center;">
<p>关于付款</p>


<p>
	
<h3>外贸常用收款方式优缺点对比</h3>	
<p>
做外贸的朋友可能会接触到各种收款方式，而这些主流的收款方式都各有千秋，也都有不足的地方，深入了解每个收款方式的优缺点可以集合公司自身产品的特点选 择最适合自己的主要收款方式。当然现在都是买方市场，所以想要获得更多买家的信赖除了产品本身的质量，完善公司的收款、物流方面也是非常重要的，所以免费开通各种收款渠道为客户提供便利才是提高企业竞争力必不可少的一步。
下面为大家整理的资料，不一定完全正确，但可以供大家参考。
</p>
<p><span class="itemhead">paypal</span>是目前全球最大的在线支付提供商，全球有超过一亿个注册帐户，是跨国交易中最有效的付款方式。任何人只要有一个电子邮件地址，都可以方便而安全地使用paypal在线发送和接收付款，避免了传统的邮寄支票或者汇款的方法。paypal快速、安全而又方便，是跨国交易的理想解决方案。<br>

paypal支付简单，相较于以前的西联而言，更能提现出对买卖双打的公平性，也更显得合理。老外可以直接在网站上进行支付或直接打钱到你的paypal帐户里面，方便快捷，省去了去制定指定银行点打钱的手续方面的麻烦，也更符合老外的网上购物方式。<br>
侧重于保护老外的利益，由于paypal不是金融机构，因此不于买家的信誉挂钩，老外可以随便在网上进行拒付而没用任何影响，因此增加了交易的不安全性；同时在国内提现比叫麻烦，对于不会使用的客户来说是比较麻烦的，很容易冻结帐户！<br>
市场中国在内的40多个国家，总共用户有7千万左右
模式账户与账户交易,只有paypal用户可以在线支付。<br>
优点: 1、国际付款通道满足了部分地区客户付款习惯，<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     2、账户与账户之间产生交易的方式。可以买可以卖，双方都拥有paypal、<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     3、paypal用户消费者(买家)利益大于paypal用户卖家（商户）的利益、<br>

缺点:1、电汇费用，每笔交易除手续费外还需要支付交易处理费<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     2、账户容易被冻结、商家利益受损失<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<p></p>
<p>
<span class="itemhead">
t/t电汇</span>是由汇款人以定额本国货币交于本国外汇银行换取定额外汇，并述明受款人之姓名与地址，再由承办银行（汇出行）折发加押电报式电传给另一国家的分行或agent行（汇入行）指示解付给收款人的一种汇款方式。电汇具有传递速度快,准确性强,收汇方便等优点,它最显著的一个特点是快捷安全,适用于汇款金额大,汇款急的项目,但相对的银行手续费用较高、t/t分为前t/t和后t/t,前tt一般指交货前全款电汇，后tt一般是先装货,然后见提单传真件全款tt，或收到提单或提货后再全款tt，最后这种方式对出口方是最不利的，而最前面的那种方式（即前tt）对进口商是最不利的。一般做30%t/t加70%l/c相结合的收汇方式对双方都较有利。
市场传统式的交易模式，全球大部分国家。</p>
模式直接汇款到银行帐户
优点 1、到帐快，提现方便
     2、安全，适合大额收款

缺点 1、需要买家先支付，对于信用问题要求严格
     2、不适合小额收款

<p>
<span class="itemhead">西联</span>是世界上领先的特快汇款公司，迄今已有150年的历史，它拥有全球最大最先进的电子汇兑金融网络，agent网点遍布全球近200个国家和地区、
市场传统式的交易模式，全球大部分国家。
模式直接汇款到商户的西联帐户
优点 1、收款迅速，几分钟到账
     2、先付款后发货，保证商家利益不受损失
缺点 1、先付款后发货，老外容易产生不信任
     2、客户群体小，限制商家的交易量
     3、数额比较大的，手续费高
</p>
<p>
<span class="itemhead">信用证(简称l/c)</span>支付方式是随着国际贸易的发展、银行参与国际贸易结算的过程中逐步形成的。由于货款的支付以取得符合信用证规定的货运单据为条件，避免了预付货款的风险，因此信用证支付方式在很大程度上解决了进、出口双方在付款和交货问题上的矛盾。它已成为国际贸易中的一种主要付款方式。
对卖家而言，l/c的最大好处是提供了一个可靠的帐房――付款人，这就是银行，而且是指定的某大银行。如果他拿到的l/c不符合买卖合约，他就可以终止合约而不付运，另外再索赔(如有市场利用损失)。l/c要求的一般是清洁的b/l，要求b/l的内容和l/c的内容一致。因此，卖家要严格按合约准时如数付运货物，否则拿到与l/c不一致的b/l就无法结汇了。
对买家的好处则是货运出来后他才付钱。只要双方诚实地做生意，买家不会冒多大风险。因为至少是卖家已经真把货付运了，拿到了已装船提单(b/l)，而且其中的数量、日期及表面状况与买卖合约是一致的。不像邮购的方式，买家付了款后，连个单证也拿不到，买家也吃不准货到底邮寄出去与否。现在有了b/l,买家看到合约的所有条件都已达到，他才经银行放钱。
整个国际买卖利用l/c这个付款办法，可以减少很多费用，节省不少麻烦。很多买卖都是通过几次电传就可达成，并不要求大家去做更多工作，这样就减低了费用及时间。其中一项就是调查费――通过l/c，卖家不需去调查买家的资信就能成交。否则，几百几千万的合约怎么能用几个电传来解决呢？
当然，利用l/c也可能出一些问题。对于买家而言，唯一担心的就是l/c出毛病，主要是文件差错(discrepancy)。尤其有时银行故意找麻烦，查文件查得很严，打错一个字母也非得叫你修改不可。根据icc的调查，l/c文件首次结汇(firsttender)时出毛病，银行打回头的占40%左右。不过，一般不会构成太大的问题，因为卖家只须将文件略作修改，在信用证有效期内，在第二次结汇(secondtender)时就能过关结汇。
另外，信用证付款方式的可靠与否，最主要还是看文件的繁简，如果一个文件只要自己签个字就可结汇的话，那么这个l/c肯定可靠；反之，如果它要求的文件很多，而且其中不少文件又不完全在你操纵之下，而是受制于他人，就要冒一定的风险。投保的话，货主只要付了保费就会有保单，万一有什么东西要改，货主叫人去改也容易。二是发票，银行挑出什么毛病，货主都可以回去自己随意修改。较为担心的单证，就是需要出于第三者之手的b/l、验货报告或其他官方文件等的可靠程度，因为到时候不管怎样，人家都可以不出。或b/l要加批注、改格式等，货主根本没办法，结果结不了汇。因此，对卖家而言，l/c里的文件越少，越简单，就越可靠。

速汇金:西联汇款和moneygram速汇金是全球最快的两种汇款方式，均能在几分钟内取到现金,手续简单。不过由于资金是瞬间到达，安全性不够，假设卖家欺诈,买家将损失惨重,老外对此方式并不认可。
速汇金服务渠道：柜面手续费收费标准：分档次收费：汇款金额为0、01－400美元，费用为10美元；400、01－500美元，12美元；500、01－2000美元，15美元；2000、01－5000美元，23美元；5000、01－1万美元，30美元。
到账情况：10分钟左右汇款金额：单笔汇款最高1万美元（含），当日累计2万美元（含）。
汇款币种：美元入账限制；定点领取交易时间：工作日9：00－16：00
优缺点：速汇金虽然到账时间非常快，但服务范围受到专业汇款公司与银行合作数量的限制，且费用较高。此外，无论是银行电汇还是专业汇款公司，汇款人仍要前往经办网点办理，对操作者来说便捷性不高。对于除美元外的外币汇款者而言，此汇款方式显然不适用。
</p>
<p>
<span class="itemhead">visa/master信用卡</span>：是全球拥有人数最多的两种国际信用卡，在线支付安全，快捷，方便。
市场全球各国，只要他拥有visa/matser卡
模式网关对网关式的在线支付
优点 1、适合中小额的收款,灵活、方便、快捷、最全面，惠及所有国家客户。
     2、方便全球用户在线支付，提升交易量，合作性稳定。
     3、增加你的网站信用度，让你拥有更多的商机。
缺点 1、现在国内的几家公司开通此通道，都需要年费和服务费
     2、对于做外贸的门槛比较高，适合于有经济实力的人使用

</p>

</div>
</div>
</body>
</html>
