<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>螺丝知识，screws information</title>
	<style type="text/css">
		a{
			text-decoration: none;
		}
	</style>
</head>
<body>
<div>
	<h3>Screw Head Styles 螺丝头型 & Screw Head Types螺丝批头分类的区别</h3>
	<p>Screws are the most common form of joining technology. Force is transferred to the screw by means of positive locking. For this reason each screw requires a counterpart fitting its profile in the form of a screwdriver, L-key or bit.

Slotted, Phillips and Pozidriv cross-head, hexagonal and square head screw profiles are common. More recent profiles are TORX® and TORX PLUS®. Then there are additional profiles such as Torq-Set® und Tri-Wing®.</p>
	<div><?php 
	$this->load->view('Admin\/mech\/Screw Head Styles.html');

	?></div>
	<div><?php 
	$this->load->view('Admin\/mech\/Screw Head types.html');

	?></div>

</div>

</body>
</html>