<!DOCTYPE html>
<html>
<head>
	<title>双色注塑设计要点及材料结合性</title>
</head>
<body>

<div>

<p><a href="<?php echo site_url('/admin/mech/m1'); ?>"><1>双色注塑设计要点及材料结合性</a></p>

<p><a href="<?php echo 'http://mp.weixin.qq.com/s/xAPrpPwBc9edcqq5m4Scpw' ?>">原文链接</a></p>
<div style="text-align: center;">
<embed src="<?php echo base_url('Public/images/bicolorinjection.jpg')?>" width="1200" height="800">
</div>

<div>
<p>双色模具特点</p>
<p>1.动模是一样的，因为是旋转的，需要交换的，所以必须是一模一样的。所以先成型的是动模侧的先成型的一般都是靠动模侧的(有特例，成型时候型腔可以不一样)。</p>

<p>2.模具的第一射的流道注塑完成后，是不能留在模具上的，最好是热浇道，不然也是可以用机械手抓取的，最差的也是潜伏类浇口，可以自动脱落，否则会浇口在上面第二射没法阖上模具。</p>

<p>3.产品两次射出，产品开模后，第一射必须留在动模侧，这个比较好理解，如果留在了定模侧，旋转就没用了，就变成了单色注塑机了，就一般情况而言，一般都是选择将两射的产品都是留在动模侧的，所以模具需要开闭器、拉杆等实现顺序开模，先拉开定模侧，在定模侧需要加顶出机构，</p>

<p>4.两组冷却系统，因为双射注塑的要求两种材料不一样，原则上要求第一射的材料的温度比第二射高出60度，可以根据实际情况而定，这个后面再讨论，因为材料不一样，模具的模温不一样，所以需要配备两套冷却系统。</p>

<P>双色注塑产品设计要点</P>
<H3>软硬、胶双色设计</H3>
<P>1.两种材料必需熔点存在一定的温度差，一般推荐值是60度，视具体情况而定，建议至少保证30度以上的熔点温差，第一射材料的熔点温度较高，否则很容易第二射的材料将第一射材料融化。对于这一类注塑很容易实现，一般第一射是PC或者PC/ABS，第二射是TPU或者TPE等。PC厚度需要预留0.6-0.7mm，软胶预留0.4mm以上。</P>
<P>2.尽量加宽接触面积，做些沟槽等，增加粘合力，避免分层和裂开等问题;还可以考虑在第一射采用抽芯，将第二射部分材料注塑到第一射里面，增加贴合的可靠性;第一射的模具表面尽量做粗糙，让模具厂在贴合表面部分用电极粗加工夏米尔VDI24#电火花纹路到位，不用抛光。</P>
<P>3.小零件提高成型效率，尽量考虑第一射用热浇道来做，模具可以做的比较小，潜伏式浇口料头乱飞，旁边还有一套模具，容易出问题，三板模效率太低，并且浪费材料，具体可以视厂家的条件而定。</P>

<H3>
	透明的和非透明的双色设计
</H3>
<P>接着一种就是透明材料和非透明材料组合的情形，这种里面透明材料可以作为装饰用，或者只是用来做小屏镜片。</P>


<H3>
1、小屏镜片的双色设计	
</H3>
<P>其中以做小镜片的比较简单，主要是用在翻盖机的翻盖面壳，机器带副屏的情形，需要采用第一射做非透明的，第二射做镜片，注意点就是尽量拉开产品材料的温度，第一射尽量用PC，最好是SABIC的PC，熔点高，第二射用PMMA,关键点是，PMMA在浇口处会从PC上面流过，不要融化掉PC就可以。双射成型模具的动模在注射时候，动模型腔是不一样的，利用定模侧的顶杆，将动模侧的类似抽芯的机构顶开形成小镜片的腔体，来成型小镜片。</P>


<H3>
2、装饰用的透明和非透明的双色设计	
</H3>
<P>作为装饰用的也是第一射注塑非透明材料，第二射注塑透明材料，非透明材料常用的是SABIC的PC,料温较高，第二射透明材料选择PMMA，或者温PC，视项目的需要，PC需要喷涂UV来保护，PMMA可以选择UV或者强化，如果表面有字符，则必须选择UV。</P>
<P>

这种双色注塑，一般材料的厚度总厚度需要在1.5mm以上，透明件的厚度至少0.8mm，太薄了没有深度的感觉，达不到预期的效果，并且再薄注塑缺陷会明显，非透明件的厚度需要在0.7mm以上。
</P>
<P>
非透明件的材料颜色尽量选择浅色，深色特别是黑色，会吸收光，没有深度感觉，就和用深黑素材喷UV的感觉差不多，这点需要注意。</P>
<P>

大面积的透明件，需要注意点是孔尽量的少，在双色注塑后，侧着看，透明的距离比较长，很难看</P>

<H3>
	
</H3>
<P>一般是将透明件做薄，透明件在最顶端只做0.5mm，做曲面接顺，不能简单倒角处理。</P>
<P>另外透明件如果在边上因为IO等如果有缺口，而透明注意顶部透明件的宽度需要一致。</P>
<P>因为非透明件的厚度有限，机壳的结构尽量简化，尽量将壳子上筋条等做薄，可以的话尽量保证在机壳壁厚的0.8一下，差不多只有0.5-0.6mm的样子，避免缩水。

在壳子边缘的地方在高低温循环冲击的时候，容易脱落或者开裂现象，看起来就像玻璃碎了的样子。</P>
<P>需要在边上的地方把透明的稍微做薄，如果不介意外观的，可以将非透明的将透明的包起来，或者稍微有点台阶，将透明的稍微收点。

因为共用动模，两射的分模线需要是在同一面上，简单说我们之前在机壳底面倒圆角是不可行的，两射的分模面会不一致。

另外就是注意浇口和浇口加工，透明材料的浇口第一选择是将透明材料延伸到非外观面，缺点是一小段透明的地方没有遮挡(可以用麦拉或者笔涂的方式遮挡，磨砂或者雾面不明显)，好处是不会因为浇口切的不好，弄的外观面有亮晶晶的像玻璃裂开的东西;目前也有将浇口用侧浇口做在两侧，注塑完后用CNC铣床加工，但是这个是冷却后的加工，对两件的紧密性有影响，需要测试验证;另外方案就是模具成型的时候，开模同时热切。

如果是直板机，按键建议使用P+R按键，按键区域没有筋条的，这样前壳只有一个大的孔，孔多了结合线比较多，孔的地方因为透明件的原因也不是很好看，尽量避免孔很多。

测试方面注意跌落测试和冷热冲击测试，两个测试很容易引发两件的脱开。


</P>
<H3>3、主镜片一体的双色设计</H3>
<P>最难的形式是双色注塑，透明的部分用来做镜片，除了上面的全部需要满足外，多了个镜片，难度比之前的所有的难度上升了一个量级。具体体现在：有主镜片作用时候，有透光率的要求、抗冲击(直板机)和耐刮擦的要求。</P>
<P>

首先从满足透光率说起，为了获得更好透光率要求透明材料要求注塑的非常好，如果第二射注塑透明材料，它需要从非透明的材料上面流过，并不是担心融化问题，而是注塑的东西表面是没有模具型腔的那么均匀，是有缺陷的，特别是中间那块透明的地方都是塑料从很长的不平的表面流过来，镜片的地方是机壳最后的地方，最难成型的地方。另外材料需要充实两个不同温度材料组成的型腔，已经注塑的第一射和模具温度是不一样的，会进一步激化产品的内应力、结合线等的问题，所以从保证产品性能的角度上面来说，第一射必须透明材料。第一射注塑透明材料会给模具带来难度是非常之大的。原因如下：</P>
<P>

A.模具必须是倒装模具</P>
<P>

B.因为第一射是透明的，是不能像普通 模具上面布置顶针的</P>
<P>

C.因为镜片在上面，第一射的动/定模和第二射的动模表面都你是镜面抛光，需要注意的是模仁的型腔面的全部，</P>
<P>

下面说下上面的3个问题带来的问题，先解析下为什么一定是倒装模，原因很简单因为动模的模具是一模一样的，先成型的除了一种前面的特例以外都是先成型靠动模侧的。接着提下透明件的浇口问题，因为是第一射成型，模具又是倒装的，必须需要有一块非外观面来做浇口，第一射最好是定制的热浇道，三板模的话，因为是倒装的，模具的流道特别长，温度损失特别严重(之前我在宏讯的时候客户模具报价太低，只能做冷浇道，从后来看来是很大的败笔，导致中间镜片地方因为流道太长，料到内部太冷，加上中间厚度为了钢球测试做了1.2mm，成型时候经常出现流痕)。第一射的顶出机构需要沿着透明件的边或者做特别大的顶块，并且和模仁配合需要非常好，否则表面就是分形线;因为第一射的顶出机构顶到的表面是第二射和透明接触的面，所以顶出机构是不能打油的，再就是模具是转的，要求整个模具可能掉油到模仁上面的都不能打油，否则油会沾到第一射和第二射结合的面，产品表面有痕迹，需要模具的顶出机构和相关配合地方镀上自润滑的材料。再就是模具镜面抛光的地方太多，非常容易损坏，并且抛光非常麻烦。</P>
<P>

接着讲下为了镜片的抗冲击给产品成型带来的麻烦，整个零件其它地方可以分别做0.7左右的厚度，但是镜片的地方不行，没有一定的厚度过不了测试，之前我们做了1.2厚度，这个地方离浇口一定会很远，面积大，最好用热浇道，否则很容易出问题。</P>
<P>
再就是耐刮擦的问题，是镜片以后，硬度要求不一样了，需要做到2H以上，方案一是硬化(针对透明材料是PMMA)，方案二是喷UV油漆，硬化的问题是在于前壳这么大一个零件个肯定是有LOGO或者字符什么的，因为零件的内部部分是非透明的，需要将字符印在表面，无论是你先做印刷还是先硬化，字符都是过不了刮擦测试的。这样要求产品只能喷UV油漆的，流平性能和透光率最好的UV油漆是立邦用在苹果NANO上面的那款，流平性能的确很不错，但是会稍微有点发黄现象，这是所有UV油漆的通病，其他的油漆喷上去橘皮会让显示屏的效果惨不忍睹。顺便提下，无论是表面硬化还是UV硬化，是没办法遮盖结合线的。</P>
<P>

如上所言，这种双色注塑件，材料方面要求如下,第一射用SABIC的耐磨PC：DMX9455A，这种材料耐刮擦，在喷UV后，能达到很好的硬度，耐刮擦也是非常不错，有良好的透光性。第二射的非透明的采用SABIC普通PC，不能是防火等级的。另外的一种搭配是DOW的透明PC和PC/ABS组合，以上两种在索尼的PSP上大量使用，第一种搭配SABIC是可以对外销售的方案，DOW的方案索尼有销售限制的。第一射材料的厚度建议0.8以上，第二射不小于0.7mm，筋条宽度0.5-0.6mm。
</P>
<P>
模具方面，模具采用倒装的三板模具，模具顺序开模，推荐采用气压缸，比较可靠。第一射浇口推荐使用定制的热流道，这样透明件的表面质量有比较好的保障。模具的镜面抛光粗抛光，必须使用电火花机台来加工，精抛光可以人工加上辅助设备来做。第一射顶出不能使用顶针顶出的，面拆开就会有分形线，必须使用整体式的顶块来实现顶出，需要先与模具厂检讨清楚，达成一致。模具的顶出机构推荐采用自润滑涂层，不要打油 。第一射为透明件后，透明件必须在机壳上有预留的地方进胶(非外观面的区域)，不能放置在侧边，否则第二射没办法封胶。
</P>
<P>
喷漆方面因为有镜片在，只能喷UV，目前业界流平最好是立邦的，曾经在apple的NANO上面使用，其它的UV橘皮严重影响镜片的透光性。反光看的时候也是很难看。喷漆时候镜片处保护膜，推荐使用日东的R100,便宜并且能抵抗UV烘烤时候的高温。
</P>
<P>
产品的防尘处理，产品需要在IML镜片同样的无尘环境加工，否则灰尘容易弄坏模面，注塑后镜片区域无论在什么加工阶段都需要是遮蔽的，单独的保护膜，其它地方视情形加相应的保护膜，因为这个保护膜，热熔螺钉需要注意，贴了保护膜后，会有影响。产品的模切件必须在无尘环境加工，套上PE带，组装在也是在无尘环境。成品需要先用保护膜遮盖顶部，再用PE袋保护。大的PE袋包装后再入箱。
</P>
<P>
	透明的大的双色注塑对于结构设计而言是需要注意的地方</P>
<P>

A.     浇口位置的预留,和模具厂达成一致</P>
<P>

B.      材料厚度推荐使用透明的0.8mm以上，非透明的0.7mm以上，非透明的尽量采用浅色，有LED灯时候注意遮光
</P>
<P>
C.      透明件分模面和孔的地方宽度一致，宽度推荐0.5mm，曲面接顺，避免侧面看，能透过很远，不美观。尽量减少孔。
</P>
<P>
D.     非透明件的厚度有限，上面筋条等结构尽量是在0.5-0.6mm之间，避免缩水。
</P>
<P>
E.      就目前而言不推荐做带主镜片的双射注塑，模具和产品成本太高，对模具厂家的设备和技术水平有相当的要求，做的话，需要对方给出整个一个流程的解决详细方案供评估，针对中间的环节都需要审查。
</P>
<P>
F.      对于大面积的双射注塑件，两个关键的测试是跌落和冷热冲击，在这两个测试里面，透明件和非透明件容易脱开。冷热冲击-40 -65,时间48小时。
</P>
<P>
G.     双射件上结构尽量简化，复杂的做到配合件上面，非透明件的筋条宽度尽量在0.5-0.6mm，避免缩水。
</P>



</div>
</div>
</body>
</html>