<!DOCTYPE html>
<html>
<head>
  <title>螺纹G1/8公差</title>
</head>
<body>

<div>

<p><a href="<?php echo site_url('/admin/mech/m1'); ?>"><1>螺纹G1/8公差</a></p>



<img src="<?php echo base_url('Public/images/Inch-dia.jpg'); ?>">

<table cellspacing="0" cellpadding="0">
          <col width="126">
          <col width="2">
          <col width="34">
          <col width="12">
          <col width="34">
          <col width="18">
          <col width="24">
          <col width="12">
          <col width="24">
          <col width="64">
          <col width="120">
          <tr>
            <td colspan="11" width="470">英制直径换算公制对照表</td>
          </tr>
          <tr>
            <td width="126">公制直径<br>
              从小到大</td>
            <td>　</td>
            <td>分子</td>
            <td>　</td>
            <td>分母</td>
            <td>　</td>
            <td colspan="3">英制尺寸</td>
            <td>公制尺寸</td>
            <td>按分母总结</td>
          </tr>
          <tr>
            <td>1.6 </td>
            <td>　</td>
            <td>1</td>
            <td>/</td>
            <td>16</td>
            <td></td>
            <td>5</td>
            <td>/</td>
            <td>64</td>
            <td>2.0 </td>
            <td>只有一个64分之5</td>
          </tr>
          <tr>
            <td>2.0 </td>
            <td>　</td>
            <td>5</td>
            <td>/</td>
            <td>64</td>
            <td></td>
            <td>3</td>
            <td>/</td>
            <td>32</td>
            <td>2.4 </td>
            <td rowspan="5">32分之3到11</td>
          </tr>
          <tr>
            <td>2.4 </td>
            <td>　</td>
            <td>3</td>
            <td>/</td>
            <td>32</td>
            <td></td>
            <td>5</td>
            <td>/</td>
            <td>32</td>
            <td>4.0 </td>
          </tr>
          <tr>
            <td>3.2 </td>
            <td>　</td>
            <td>1</td>
            <td>/</td>
            <td>8</td>
            <td></td>
            <td>7</td>
            <td>/</td>
            <td>32</td>
            <td>5.6 </td>
          </tr>
          <tr>
            <td>4.0 </td>
            <td>　</td>
            <td>5</td>
            <td>/</td>
            <td>32</td>
            <td></td>
            <td>9</td>
            <td>/</td>
            <td>32</td>
            <td>7.1 </td>
          </tr>
          <tr>
            <td>4.8 </td>
            <td>　</td>
            <td>3</td>
            <td>/</td>
            <td>16</td>
            <td></td>
            <td>11</td>
            <td>/</td>
            <td>32</td>
            <td>8.7 </td>
          </tr>
          <tr>
            <td>5.6 </td>
            <td>　</td>
            <td>7</td>
            <td>/</td>
            <td>32</td>
            <td></td>
            <td>1</td>
            <td>/</td>
            <td>16</td>
            <td>1.6 </td>
            <td rowspan="6">16分之1到11</td>
          </tr>
          <tr>
            <td>6.4 </td>
            <td>　</td>
            <td>1</td>
            <td>/</td>
            <td>4</td>
            <td></td>
            <td>3</td>
            <td>/</td>
            <td>16</td>
            <td>4.8 </td>
          </tr>
          <tr>
            <td>7.1 </td>
            <td>　</td>
            <td>9</td>
            <td>/</td>
            <td>32</td>
            <td></td>
            <td>5</td>
            <td>/</td>
            <td>16</td>
            <td>7.9 </td>
          </tr>
          <tr>
            <td>7.9 </td>
            <td>　</td>
            <td>5</td>
            <td>/</td>
            <td>16</td>
            <td></td>
            <td>7</td>
            <td>/</td>
            <td>16</td>
            <td>11.1 </td>
          </tr>
          <tr>
            <td>8.7 </td>
            <td>　</td>
            <td>11</td>
            <td>/</td>
            <td>32</td>
            <td></td>
            <td>9</td>
            <td>/</td>
            <td>16</td>
            <td>14.3 </td>
          </tr>
          <tr>
            <td>9.5 </td>
            <td>　</td>
            <td>3</td>
            <td>/</td>
            <td>8</td>
            <td></td>
            <td>11</td>
            <td>/</td>
            <td>16</td>
            <td>17.5 </td>
          </tr>
          <tr>
            <td>11.1 </td>
            <td>　</td>
            <td>7</td>
            <td>/</td>
            <td>16</td>
            <td></td>
            <td>1</td>
            <td>/</td>
            <td>8</td>
            <td>3.2 </td>
            <td rowspan="4">8分之1到7</td>
          </tr>
          <tr>
            <td>12.7 </td>
            <td>　</td>
            <td>1</td>
            <td>/</td>
            <td>2</td>
            <td></td>
            <td>3</td>
            <td>/</td>
            <td>8</td>
            <td>9.5 </td>
          </tr>
          <tr>
            <td>14.3 </td>
            <td>　</td>
            <td>9</td>
            <td>/</td>
            <td>16</td>
            <td></td>
            <td>5</td>
            <td>/</td>
            <td>8</td>
            <td>15.9 </td>
          </tr>
          <tr>
            <td>15.9 </td>
            <td>　</td>
            <td>5</td>
            <td>/</td>
            <td>8</td>
            <td></td>
            <td>7</td>
            <td>/</td>
            <td>8</td>
            <td>22.2 </td>
          </tr>
          <tr>
            <td>17.5 </td>
            <td>　</td>
            <td>11</td>
            <td>/</td>
            <td>16</td>
            <td></td>
            <td>1</td>
            <td>/</td>
            <td>4</td>
            <td>6.4 </td>
            <td rowspan="2">4分之1到3</td>
          </tr>
          <tr>
            <td>19.1 </td>
            <td>　</td>
            <td>3</td>
            <td>/</td>
            <td>4</td>
            <td></td>
            <td>3</td>
            <td>/</td>
            <td>4</td>
            <td>19.1 </td>
          </tr>
          <tr>
            <td>22.2 </td>
            <td>　</td>
            <td>7</td>
            <td>/</td>
            <td>8</td>
            <td></td>
            <td>1</td>
            <td>/</td>
            <td>2</td>
            <td>12.7 </td>
            <td>2分之1</td>
          </tr>
          <tr>
            <td>25.4 </td>
            <td>　</td>
            <td>1</td>
            <td>/</td>
            <td>1</td>
            <td></td>
            <td>1</td>
            <td>/</td>
            <td>1</td>
            <td>25.4 </td>
            <td>1寸</td>
          </tr>
  </table>

  </div>
</body>
</html>