<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>模具晒纹参考链接</title>
	<style type="text/css">
		a{
			text-decoration: none;
		}
		.table2 tr td{
			border:1px solid lightblue;
			margin: 0px;
			padding:0px;
			text-align: center;
		}
		.tdtit{
			font-size: 20px;
			color: blue;
			background: #999999;
		}

	</style>
</head>
<body>
<div>
	<table>
		<tr>
			<td><h3><a href="http://www.moldtexture.net/contact-us/">http://www.moldtexture.net/contact-us/</a></h3></td>
			
		</tr>
		<tr>
			
			<td><h3><a href="https://seaskytooling.com/plastic-mold-texture-draft-angle-2/">Plastic mold texture draft angle by Mold-Tech</a></h3></td>
		</tr>
		<tr>
			
			<td><h3><a href="http://thetoolhub.com/toolmaking/draft-angles-for-vdi-surfaces/">http://thetoolhub.com/toolmaking/draft-angles-for-vdi-surfaces/</a></h3></td>
		</tr>
		<tr>
			
			<td><h3><a href="http://www.mold-tech.com/downloads/Texturing-In-Depth.pdf">http://www.mold-tech.com/downloads/Texturing-In-Depth.pdf</a></h3></td>
		</tr>
	</table>

</div>
<div>
	<table class="table2" width="624">
<tbody>
<th class="tdtit" colspan="6">VDI纹光洁度，粗糙度及对应拔模角</th>
<tr>
<td width="104" class="tdtit">VDI</td>
<td width="104" class="tdtit">Ra</td>
<td width="104" class="tdtit">Rz.</td>
<td width="104" class="tdtit">DA-PA</td>
<td width="104" class="tdtit">DA-PC</td>
<td width="104" class="tdtit">DA-ABS</td>
</tr>
<tr>
<td>12</td>
<td>0.40</td>
<td>1.5</td>
<td>0</td>
<td>1.0</td>
<td>0.5</td>
</tr>
<tr>
<td>15</td>
<td>0.56</td>
<td>2.4</td>
<td>0.5</td>
<td>1.0</td>
<td>0.5</td>
</tr>
<tr>
<td>18</td>
<td>0.80</td>
<td>3.3</td>
<td>0.5</td>
<td>1.0</td>
<td>0.5</td>
</tr>
<tr>
<td>21</td>
<td>1.12</td>
<td>4.7</td>
<td>0.5</td>
<td>1.0</td>
<td>0.5</td>
</tr>
<tr>
<td>24</td>
<td>1.60</td>
<td>6.5</td>
<td>0.5</td>
<td>1.5</td>
<td>1.0</td>
</tr>
<tr>
<td>27</td>
<td>2.24</td>
<td>10.5</td>
<td>1.0</td>
<td>2.0</td>
<td>1.5</td>
</tr>
<tr>
<td>30</td>
<td>3.15</td>
<td>12.5</td>
<td>1.5</td>
<td>2.0</td>
<td>2.0</td>
</tr>
<tr>
<td>33</td>
<td>4.50</td>
<td>17.5</td>
<td>2.0</td>
<td>3.0</td>
<td>2.5</td>
</tr>
<tr>
<td>36</td>
<td>6.30</td>
<td>24.0</td>
<td>2.5</td>
<td>4.0</td>
<td>3.0</td>
</tr>
<tr>
<td>39</td>
<td>9.00</td>
<td>34.0</td>
<td>3.0</td>
<td>5.0</td>
<td>4.0</td>
</tr>
<tr>
<td>42</td>
<td>12.50</td>
<td>48.0</td>
<td>4.0</td>
<td>6.0</td>
<td>5.0</td>
</tr>
<tr>
<td>45</td>
<td>18.00</td>
<td>69.0</td>
<td>5.0</td>
<td>7.0</td>
<td>6.0</td>
</tr>
<tr>	
<td colspan='6' style="text-align: left">
Ra(Average Roughness) 轮廓算术平均偏差：在取样长度内，轮廓偏距绝对值的算术平均值 ；<br>
Rz(Roughness depth) 微观不平度十点高度：在取样长度内最大的轮廓峰高的平均值与五个最大的轮廓谷深的平均值之和 ；<br>
Ry 轮廓最大高度：在取样长度内，轮廓峰顶线和轮廓谷底线之间的距离；<br>
转换<br>
Rz (din) = Ra*7.2<br>
Rz(ISO) = Ra*7.6<br>

Ra=Rz(din)/7.2<br>
Ra=Rz(ISO)/7.6<br>
</td>
	

</tr>
</tbody>
</table>
</div>


<div class=WordSection1 style='layout-grid:18.0pt'>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><u><span
lang=ZH-TW style='font-size:20.0pt;font-family:DFKai-SB'>拔模角</span></u></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span
lang=ZH-TW style='font-family:华文细黑'>為了方便成品取出</span></b><b><span lang=EN-US
style='font-family:华文细黑'>,</span></b><b><span lang=ZH-TW style='font-family:
华文细黑'>在成品頂出方向必需有適當的拔模角</span></b><b><span lang=EN-US style='font-family:华文细黑'>;</span></b><b><span
lang=ZH-TW style='font-family:华文细黑'>不咬花之成品</span></b><b><span lang=EN-US
style='font-family:华文细黑'>,</span></b><b><span lang=ZH-TW style='font-family:
华文细黑'>建議最少有</span></b><b><span lang=EN-US style='font-family:华文细黑'>1°,</span></b><b><span
lang=ZH-TW style='font-family:华文细黑'>當然愈大愈好</span></b><b><span lang=EN-US
style='font-family:华文细黑'>.</span></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span
lang=ZH-TW style='font-family:华文细黑'>有咬花之成品</span></b><b><span lang=EN-US
style='font-family:华文细黑'>,</span></b><b><span lang=ZH-TW style='font-family:
华文细黑'>依咬花之種類及深度</span></b><b><span lang=EN-US style='font-family:华文细黑'>,</span></b><b><span
lang=ZH-TW style='font-family:华文细黑'>在可能之狀況下至少</span></b><b><span lang=EN-US
style='font-family:华文细黑'>3~5°.</span></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-family:华文细黑'>VDI 3400</span></b><b><span lang=ZH-TW
style='font-family:华文细黑'>為放電花紋</span></b><b><span lang=EN-US style='font-family:
华文细黑'>(EDM)</span></b></p>

<p class=MsoNormal style='text-align:justify;text-justify:inter-ideograph'><b><span
lang=EN-US style='font-family:华文细黑'>VDI 3400</span></b><b><span lang=ZH-TW
style='font-family:华文细黑'>請參考下表</span></b><b><span lang=EN-US style='font-family:
华文细黑'>:</span></b><b><span lang=ZH-TW style='font-family:华文细黑'>　</span></b><b><span
lang=EN-US style='font-family:华文细黑'>(</span></b><b><span lang=ZH-TW
style='font-family:华文细黑'>一般以角度再加</span></b><b><span lang=EN-US
style='font-family:华文细黑'>1°</span></b><b><span lang=ZH-TW style='font-family:
华文细黑'>較佳</span></b><b><span lang=EN-US style='font-family:华文细黑'>)</span></b></p>

<table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0
 style='border-collapse:collapse;border:none'>
 <tr>
  <td width=93 style='width:69.65pt;border:solid windowtext 1.0pt;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>VDI3400</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=ZH-TW style='font-family:"PMingLiU",serif'>平均深度</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>Ra(μm)</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=ZH-TW style='font-family:"PMingLiU",serif'>最大深度</span></b></p>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>μm</span></b></p>
  </td>
  <td width=93 style='width:69.7pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>PC</span></b></p>
  </td>
  <td width=93 style='width:69.7pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>ABS</span></b></p>
  </td>
  <td width=93 style='width:69.7pt;border:solid windowtext 1.0pt;border-left:
  none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>PC/ABS</span></b></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>12</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>0.40</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>0.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>15</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>0.56</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.40</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>0.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>18</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>0.80</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>3.30</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>0.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>21</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.12</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>4.70</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>0.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>24</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.60</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>6.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.50</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>27</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.24</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>10.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>1.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>30</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>3.15</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>12.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>33</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>4.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>17.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>3.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>2.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>3.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>36</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>6.30</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>24.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>4.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>3.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>4.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>39</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>9.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>34.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>5.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>4.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>5.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>42</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>12.50</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>48.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>6.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>5.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>6.00</span></p>
  </td>
 </tr>
 <tr>
  <td width=93 valign=top style='width:69.65pt;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><b><span
  lang=EN-US>45</span></b></p>
  </td>
  <td width=93 valign=top style='width:69.65pt;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>18.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>69.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>7.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>6.00</span></p>
  </td>
  <td width=93 valign=top style='width:69.7pt;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 1.4pt 0cm 1.4pt'>
  <p class=MsoNormal align=center style='text-align:center'><span lang=EN-US>7.00</span></p>
  </td>
 </tr>
</table>

<p class=MsoNormal><span lang=EN-US>&nbsp;</span></p>

</div>
</body>
</html>